<div class="form-group row">
  <div class="col-xs-3">
    <input type="text" id="name" onkeyup="filter()" placeholder="Search for names.." class = "form-control"></div>
  <div class="col-xs-3"> <input type="text" id="description" onkeyup="filter()" placeholder="Search for  description.."  class = "form-control"></div>
  <div class="col-xs-3"> <select id="status" onchange="filter()" name="status"  class = "form-control">
    <option value="">Select Status</option>
    <option value="active">Active</option>
    <option value="disabled">Disabled</option>
  </select>
  </div>
</div>